/*
Fonts:
-Poppins: 300;400;500;600;700;800;900;
-Rubik: 300;400;500;600;700;800;900;
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #ff6b6b;
    --secondary-color: #794afa;
    --secondary-dark-color: #453c5c;

    --white-color: #ffffff;
    --light-bg-color: #f2f3f5;
    --light-text-color: #7c899a;
    --border-color: #e5e8ec;
    --dark-color: #0a021c;

    --font-small: 14px;
    --font-smaller: 11px;
    
    --percent100: 100%;
    --percent50: 50%;   
    --percent75: 75%;
    --percent80: 80%; 
    --percent90: 90%;


    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;
    --fw9: 900;

    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s;
}

* {
    margin: 0;
    padding: 0;
}
*,::after, ::before {
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--dark-color);
    background-color: var(--white-color);
}
a{
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}
ul{
    list-style: none;
}
img{
    max-width: var(--percent100);
    vertical-align: middle;   
}
strong{
    font-weight: var(--fw8);
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
input::placeholder{
    font: inherit;
}
h1,h2,h3,h4 {
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: calc(1.3em + 1vw);
    font-weight: var(--fw8);
    line-height: 1;
}
h2{
    line-height: 2.5em;
}
h3{
    font-size: 1.2em;
    font-weight: var(--fw7);
}
h4{
    font-size: 1em;
    font-weight: var(--fw6);
}

/*------------
* REUSABLE SELECTOR
*-----------*/

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.9383em;
}
.column {
    margin-left: -0.938em;
    margin-right: -0.938em;
}
.column .row {
    padding: 0.938em;
}
.flexwrap{
    display: flex;
    flex-wrap: wrap;
}
.flexcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexitem{
    display: flex;
    align-items: center;
}
.flexcol{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.flexrow {
    display: flex;
    flex-direction: row;
    gap: 6em;
    align-items: center;
    justify-content: space-between;
}
.main-links a:hover{
    color: var(--secondary-color);
}
.second-links a:hover{
    color: var(--light-text-color);
}
.icon-small, .icon-large {
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    font-weight: normal;
}
.icon-small{
    font-size: 1.25em;
    margin: auto;
}
.icon-large{
    font-size: 1.75em;
    padding: 0 .75em 0 0;
}
.mobile-hide{
    display: none;
}
.object-cover img{
    position: absolute;
    width: var(--percent100);
    height: var(--percent100);
    display: block;
}
.products .media {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
}
.primary-button, .secondry-button, .light-button {
    font-size: var(--font-small);
    padding: .9em 2em;
    height: auto;
    width: fit-content;
    border-radius: 2em;
    transition: var(--trans-background-color);
}
.primary-button{
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: .5em 2em;
}
.primary-button:hover {
    background-color: var(--dark-color);
}
.secondry-button-button{
    background-color: var(--secondary-dark-color);
    color: var(--white-color);    
}
.secondry-button:hover {
    background-color: var(--light-bg-color);
    color: var(--secondary-dark-color);
}
.light-button {
    background-color: var(--light-bg-color);    
}

.light-button:hover {
    background-color: var(--secondary-dark-color);
    color: var(--white-color);
}
.view-all {
    font-size: var(--font-small);
    display: flex;
    gap: 1em;
    transition: var(--trans-color);
}
.mini-text{
    font-size: var(--font-smaller);
    color: var(--light-text-color);
}





/*------------
* Structure Styling

    00.	Reusable selectors
    01.	HEADER
        a. Header Top
        b. Header Nav
        c. Header Main, Departments Category
        d. Search Form
        e. Responsive MENU - Off Canvas
    02.	SLIDER
    03.	BRANDS
    04.	PRODUCT
        a. Global product
        b. BIG product
        C. MINI product
        d. Main prochict
    05.	BANNER
        a. News Letter
        b. Widgets
        c. Footer Info
    06.	BOTTOM MENU
        a. Search
    07. OVERLAY
    08. PAGE SINGLE
        a. Breadcrumb
        b. Product details
        c. Product description
        d. Product Review
        e. Product Review Form
    09. PAGE SINGLE: SPECIAL OFFER
    10. PAGE CATEGORY
        a. Sidebar products Filter
        b. products block
    11. CART
    12.	PAGE CART
    13.	PAGE CHECKOUT
    14.	MODAL
    15.	RESPONSIVE
*
* -----------*/


/*------------
* 01.	HEADER
*-------------*/
header li > a {
    display: flex;
    position: relative;
    line-height: inherit;
    transition: var(--trans-color);
}


            /*-----------------
            * 01.   HEADER
               a.   Header Top
            *------------------*/
.header-top .wrapper{
    font-size: var(--font-small);
    justify-content: space-between;
    line-height: 42px;
}
.header-top ul {
    gap: 2em;
}
.header-top li {
    position: relative;
}
.header-top ul ul {
    position: absolute;
    left: -1em;
    line-height: 2em;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    z-index: 1;
    display: none;
}
.header-top .right ul ul li a{
    padding: .25em 1em;
}
.header-top .right ul ul li.current a{
    background-color: var(--border-color);
}
.header-top li:hover ul{
    display: block;
}   


            /*-----------------
            * 01.	HEADER
                b.  Header Nav
            *------------------*/
.header-nav {
    padding: .5em 0;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--border-color);
}
.trigger{
    font-size: 2em;
    padding: .25em;
    margin-right: .5em;
}
.logo a {
    margin-right: 2em;
    position: relative;
    display: flex;
    width: 90%;
}
/* .circle {
    position: absolute;
    top: -15px;
    left: 0;
    width: 38px;
    height: 38px;
    border-radius: var(--percent50);
    background-color: var(--light-bg-color);
    z-index: -1;
}
.circle::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: var(--percent50);
    background-color: var(--secondary-color);
} */

.header-nav nav > ul{
    line-height: 100px;
    gap: 1.5em;
}
.fly-item{
    position: absolute;
    height: 18px;
    list-style: 10px;
    text-align: center;
    padding: 3px;
    font-size: var(--font-smaller);
    color: var(--white-color);
    line-height: 10px;
}
nav .fly-item{
    top: 50%;
    margin-top: -24px;
    border-radius: 3px;
    width: 35px;
    right: -30px;
    background-color: var(--primary-color);
}
.header-nav .right{
    position: relative;
    margin-left: auto;
}
.header-nav .right .icon-large {
    position: relative;
}
.header-nav .right .fly-item {
    top: 0;
    right: 16px;
    width: 16px;    
    background-color: var(--secondary-dark-color);
    border-radius: var(--percent50);
}
.header-nav .right .iscart .fly-item{
    right: 70px;
}
.header-nav .right .iscart{
    display: flex;
    gap: 20px;
}
.header-nav .right .icon-text{
    font-size: var(--font-small);
    padding-right: 0;
}
.header-nav .right .icon-text .mini-text{
    font-size: var(--font-smaller);
    color: var(--primary-color);
}
.mega-menu .flexcol{
    flex: 1;
    padding-right: 2.50em;
    min-width: 180px;
    margin-bottom: 1.5em;
    z-index: 1;
}
.mega-menu-men .flexcol {
    padding-right: 5.50em;
    min-width: 150px;
    margin-bottom: 1.5em;
    z-index: 1;
}

            /*--------------------------------------
            * 01.	HEADER
                c. Header Main, Departments Category
            *---------------------------------------*/
.header-main{
    background-color: var(--secondary-dark-color);
    padding: 1.3em 0;
    margin-bottom: 2em;
}
.header-main .dpt-cat {
    position: relative;
    z-index: 10;
}
.header-main .dpt-cat .dpt-head {
    position: relative;
    width: 300px;
    padding: .75em 1.5em;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--white-color);
}
.header-main .dpt-cat .dpt-head .main-text {
    text-transform: uppercase;
    padding-left: 30px;
}
.header-main .dpt-cat .dpt-head .mini-text {
    padding-left: 30px;
}
.header-main .dpt-cat .dpt-trigger{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    padding: 10px 15px;
    font-size: 25px;
}
.header-main .dpt-cat .dpt-arrow{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    padding: 5px 15px;
    font-size: 35px;
}

            /*-----------------
            * 01.	HEADER
                d. Search Form
            *------------------*/
.header-main .right {
    flex: 1;
}
form {
    position: relative;
}
form.search input{
    line-height: 4.5em;
    padding: 0 7em 0 4em;
    border: 0;
    outline: 0;
    width: var(--percent100);
    border-radius: 7px;
    font-size: .9em;
    font-weight: var(--fw3);
}
form.search :where(span,button) {
    position: absolute;
    top: 0;
    padding: .55em 1.5em;
    font-size: 1em;
    color: var(--light-text-color);
    height: var(--percent100);
}
form.search button {
    right: 0;
    outline: 0;
    border: 0;
    font-size: .875em;
    border-radius: 0 7px 7px 0;
    font-weight: var(--fw7);
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    transition: var(--trans-background);
    padding: 0 35px;
}
form.search button:hover {
    background-color: var(--dark-color);
}
            /*--------------------------------
            * 01.	HEADER
                e. Responsive MENU - Off Canvas
            *----------------------------------*/


/*------------
* 02.	SLIDER
*-------------*/



/*------------
* 03.	BRANDS
*-------------*/



/*-------------
* 04.	PRODUCT
*--------------*/



            /*-----------------
            * 01.   PRODUCT
               a.   Global product
            *------------------*/


            /*-----------------
            * 01.	PRODUCT
                b.  BIG product        
            *------------------*/


            /*--------------------------------------
            * 01.	PRODUCT
                c. MINI product
            *---------------------------------------*/

            /*-----------------
            * 01.	PRODUCT
                d. Main prochict
            *------------------*/




/*-------------
* 05.	BANNER
*--------------*/



            /*-----------------
            * 05.   BANNER
               a.   News Letter
            *------------------*/


            /*-----------------
            * 05.	BANNER
                b.  Widgets        
            *------------------*/


            /*--------------------------------------
            * 05.	BANNER
                c. Footer Info
            *---------------------------------------*/


            
/*-------------
* 06.	BOTTOM MENU
*--------------*/



            /*-----------------
            * 06.   BOTTOM MENU
               a.   Search
            *------------------*/



/*-------------
* 07.	OVERLAY
*--------------*/




/*------------
* 08.	PAGE SINGLE
*-------------*/



            /*-----------------
            * 08.   PAGE SINGLE
               a.   Breadcrumb
            *------------------*/


            /*-----------------
            * 08.	PAGE SINGLE
                b.  Product details
            *------------------*/


            /*--------------------------------------
            * 08.	PAGE SINGLE
                c. Product description
            *---------------------------------------*/

            /*-----------------
            * 08.	PAGE SINGLE
                d. Product Review
            *------------------*/


            /*--------------------------------
            * 08.	PAGE SINGLE
                e. Product Review Form
            *----------------------------------*/



/*------------
* 09.	PAGE SINGLE: SPECIAL OFFER
*-------------*/



/*------------
* 10.	PAGE CATEGORY
*-------------*/




            /*-----------------
            * 10.   PAGE CATEGORY
               a.   Sidebar products Filter
            *------------------*/


            /*-----------------
            * 08.	PAGE CATEGORY
                b.  products block
            *------------------*/




/*------------
* 11.	CART
*-------------*/



/*---------------
* 12.	PAGE CART
*----------------*/





/*-------------------
* 13.	PAGE CHECKOUT
*-------------------*/




/*------------
* 14.	MODAL
*-------------*/



/*--------------
* 14.	RESPONSIVE
*-------------*/




@media screen and (min-width:992px) {
    .container{
        padding: 0 2em;
    }
    .desktop-hide{
        display: none;
    }
    .mobile-hide{
        display: block;
    }
    .logo a {
        margin-right: 2em;
    }
    .header-nav{
        padding: 0;
        margin: 0;
        border-bottom: 0;
    }
    .header-nav .right li > a {
        margin-left: 1em;
    }

    /* Mega Menu */
    nav .mega-menu {
        position: absolute;
        width: var(--percent100);
        height: auto;
        left: 0;
        right: 0;
        padding: 1.5em;
        line-height: 2em;
        background-color: var(--light-bg-color);
        box-shadow: rgba(0, 0, 0 / 20%) 0 30px 20px -30px;
        z-index: 100;
        display: none;
    }

    nav li.has-child:hover .mega-menu{
        display: block;
    }
    nav .mega-menu .wrapper {
        display: flex;
    }
    nav .mega-menu h4 {
        font-size: 1em;
        text-transform: uppercase;
    }
    nav .mega-menu ul {
        font-size: var(--font-small);
        text-transform: capitalize;
    }
    nav .mega-menu .women-brands{
        display: flex;
        flex-wrap: wrap;
        min-width: 180px;
    }
    nav .mega-menu .women-brands li{
        min-width: 90px;
    }
    nav .mega-menu .view-all {
        margin-top: 1em;
    }
    nav .mega-menu .products{
        flex: 2;
        padding: 0;
        align-items: center;
        position: relative;
    }
    nav .mega-menu .products .row{
        width: var(--percent100);
    }
    nav .mega-menu .products .media{
        height: 400px;
    }
    nav .mega-menu .products .text-content{
        line-height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .8em;
        margin-top: 1em;
        position: absolute;
        bottom: 6em;
        width: var(--percent100);
    }
    nav .mega-menu .products .text-content h4 {
        font-size: 2em;
        text-align: center;
        font-weight: var(--fw9);
        color: var(--secondary-dark-color);
    }
/* Mega Menu Men */
       nav .mega-menu-2 {
        position: absolute;
        width: var(--percent100);
        height: auto;
        left: 0;
        right: 0;        
        line-height: 2em;
        background-color: var(--light-bg-color);
        box-shadow: rgba(0, 0, 0 / 20%) 0 30px 20px -30px;
        z-index: 100;
        display: none;      
    }

    nav .mega-menu-2 .left-bar{
        width: 235px;
        background-color: var(--primary-color);        
    }
    nav .mega-menu-2 .left-bar .flexrow a{
        color: var(--white-color);   
        font-size: var(--font-small); 
        text-transform: capitalize;    
    }
    nav .mega-menu-2 .left-bar .flexrow h4{
        font-size: .9em; 
        text-transform: uppercase;    
    }
    nav .mega-menu-2 .left-bar .flexrow{
        padding: 20px 10px;
        transition: .4s;
        cursor: pointer;
    }
    nav .mega-menu-2 .left-bar .flexrow:hover{
        background-color: var(--white-color);
    }
    nav .mega-menu-2 .left-bar .flexrow:hover a{
        color: var(--dark-color);
    }
    nav li.has-child:hover .mega-menu-2 {
        display: block;
    }
    nav li.has-child:hover .mega-menu-2 {
        display: block;
    }

    nav .mega-menu-men {
        position: absolute;
        width: var(--percent100);
        height: auto;
        left: 310px;
        right: 0;
        top: 0px;
        padding: 1em;
        line-height: 1.81em;
        background-color: var(--white-color);
        box-shadow: rgba(0, 0, 0 / 20%) 0 30px 20px -30px;
        z-index: 100;
        display: none;        
    }
    nav .mega-menu-men .wrapper {
        display: flex;
    }
    nav .mega-menu-2 li.has-child:hover .mega-menu-men{
        display: block;
    }
    .header-main .right {
        max-width: 600px;
        margin-left: auto;
    }
}